# Core deep learning
torch>=2.0.0
torchvision>=0.15.0
timm==0.9.16

# Data science
numpy
albumentations==1.4.7
opencv-python
Pillow

# YOLO
ultralytics>=8.0.0

# Web app
streamlit

# Utils
tqdm
pyyaml
